@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
*{
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(135deg,#f5f7fa,#c3cfca);
  display:flex;
  align-items: center;
  justify-content: container;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'lato', sans-serif;
  margin:0;
}
h1{
  text-align: center;
}
.timeline-container{
  display: flex;
  flex-direction: column;
  position: relative;
  margin:40px 0;
}
.timeline-container::after{
  background-color:#e17b77;
  content:'';
  position: absolute;
  left: calc(50% - 10px);
  width: 4px;
  height:100%;
}
#root{
  width:100%;
}
.timeline-item{
  display: flex;
  justify-content:flex-end;
  padding-right:30px;
  margin:10px 0;
  width:50%;
}
.timeline-item:nth-child(odd){
  align-self:flex-end;
  justify-content:flex-start;
  padding-right:0px;
  padding-left:30px;
}
.timeline-item-content{
  background-color:#fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  padding:15px;
  width: 400px;
  text-align: right;
}
.timeline-item-content::after{
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0,0.2);
  position: absolute;
  transform:rotate(45deg);
  right: -7.5px;
  top:60px;
  width: 15px;
  height: 15px;
}
.timeline-item:nth-child(odd) .timeline-item-content{
  align-self: flex-start;
  text-align: left;
}
.timeline-item:nth-child(odd) .timeline-item-content::after{
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  right: auto;
  left: -7.5px;
}
.timeline-item-content .tag{
  text-transform: uppercase;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  position:absolute;
  top:5px;
  left:5px;
  letter-spacing:2px;
}
.timeline-item:nth-child(odd) .timeline-item-content .tag{
  left:auto;
  right:5px;
}
.timeline-item-content .time{
  color:#777;
  font-size:12px;
}
.timeline-item-content:nth-child(even) p{
  font-size:16px;
  line-height: 24px;
  margin:15px 0;
  max-width: 250px;
}
.timeline-item-content a{
  color:#333;
  text-decoration:none;
  font-size:14px;
}
.timeline-item-content a:hover{
  text-decoration:underline;
}
.timeline-item-content a::after{
  content:'▶️';
  font-size:12px;
}
.timeline-item-content .circle{
  background-color:#fff;
  border:2px solid #e17177;
  border-radius:50%;
  position: absolute;
  right: -32px;
  left:auto;
  top:57px;
  width:20px;
  height: 20px;
  z-index: 100;
}
.timeline-item:nth-child(odd) .timeline-item-content .circle{
  right:auto;
  left:-47px;
}

@media only screen and (max-width:767px){
  .timeline-item-content ,
  .timeline-item:nth-child(odd) .timeline-item-content{
    padding: 15px 10px;
    text-align: center;
    align-items:center;
  }
  .timeline-item-content .tag{
    width:calc(100% -10px);
  }
  .timeline-item-content time{
    margin-top:20px;
  }
  .timeline-item-content a{
    text-decoration: underline;
  }
  .timeline-item-content a::after{
    display: none;
  }
}